{
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": [
    "uber-es2015",
    "uber-jsx"
  ],
  "rules": {
    "linebreak-style": 0,
    "max-len": 0
  },
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "babel"
  ]
}
